#
# Copyright (C) 2022 The Nameless-AOSP Project
#
# SPDX-License-Identifier: Apache-2.0
#

on early-boot
    # SSR
    write /sys/bus/msm_subsys/devices/subsys0/restart_level RELATED
    write /sys/bus/msm_subsys/devices/subsys1/restart_level RELATED
    write /sys/bus/msm_subsys/devices/subsys2/restart_level RELATED
    write /sys/bus/msm_subsys/devices/subsys3/restart_level RELATED
    write /sys/bus/msm_subsys/devices/subsys4/restart_level RELATED
    write /sys/bus/msm_subsys/devices/subsys5/restart_level RELATED
    write /sys/bus/msm_subsys/devices/subsys6/restart_level RELATED
    write /sys/bus/msm_subsys/devices/subsys7/restart_level RELATED
    write /sys/bus/msm_subsys/devices/subsys8/restart_level RELATED
    write /sys/bus/msm_subsys/devices/subsys9/restart_level RELATED
    write /sys/bus/msm_subsys/devices/subsys10/restart_level RELATED

on boot
    # Fingerprint
    chown system system /dev/goodix_fp

    # Gestures
    chown system system /sys/class/spi_master/spi0/spi0.0/fts_gestures
    chown system system /sys/class/spi_master/spi0/spi0.0/fts_gesture_double_tap_pressed
    chown system system /sys/class/spi_master/spi0/spi0.0/fts_gesture_fod_pressed
    chown system system /sys/class/spi_master/spi0/spi0.0/fts_gesture_single_tap_pressed

on property:sys.boot_completed=1
    # Health
    restart health-hal-2-1
