<?xml version="1.0" encoding="utf-8"?>
<!--
     Copyright (C) 2022 The LineageOS Project
     SPDX-License-Identifier: Apache-2.0
-->
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.nameless.device.nothing"
    android:versionCode="1"
    android:versionName="1.0"
    android:sharedUserId="android.uid.system">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:label="@string/device_settings_app_name"
        android:persistent="true">

        <receiver
            android:name=".BootCompletedReceiver"
            android:exported="false">

            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <service
            android:name=".GlyphNotificationListenerService"
            android:exported="false"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">

            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
        
        <service
            android:name=".GlyphService"
            android:permission="GlyphService" />

        <activity
            android:name=".GlyphSettingsActivity"
            android:exported="false"
            android:label="@string/glyph_title"
            android:theme="@style/Theme.SubSettingsBase">

            <intent-filter>
                <action android:name="com.android.settings.action.IA_SETTINGS" />
            </intent-filter>

            <meta-data
                android:name="com.android.settings.category"
                android:value="com.android.settings.category.ia.homepage" />
            <meta-data
                android:name="com.android.settings.icon"
                android:resource="@drawable/ic_settings_glyph" />
            <meta-data
                android:name="com.android.settings.summary"
                android:resource="@string/glyph_summary" />
            <meta-data
                android:name="com.android.settings.order"
                android:value="-115" />
        </activity>
    </application>
</manifest>
